@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs
        tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }
}
#root, html, body {
  width: 100%;
  height: 100%;
}

.chessLink {
  transition: filter 0.2s;
}
.chessLink:hover {
  filter: brightness(1.2);
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(100, 0%, 25%);
  border-radius: 100vh;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: hsl(100, 0%, 25%) transparent;
    scrollbar-width: thin;
  }
}
.left-arrow {
  transform: rotate(180deg);
}

.arrow {
  transition-duration: 200ms;
  fill: rgba(200, 200, 200, 0.705);
}

.left-arrow:hover {
  transform: scale(1.5) rotate(180deg) translateX(-0.5vh);
}

.right-arrow:hover {
  transform: scale(1.5) translateX(-0.5vh);
}

.social-svg-icon {
  transition-duration: 200ms !important;
}

.social-container:hover .social-svg-icon {
  fill: #cbc8c8 !important;
}

.icon {
  transition-duration: 200ms !important;
}

.symbol {
  transition-duration: 200ms !important;
  margin: 10px;
}

.social-icon {
  display: flex;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

a {
  width: wrap;
  height: wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  display: block;
}

.icon:hover {
  color: #cbc8c8;
}

.contactInput {
  @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4
    border-[#242424] text-gray-500 
    transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40
    hover:border-[#F7AB0A]/40;
}

@media (max-width: 640px) {
  .name-field {
    margin-top: 0.5rem;
  }
  .email-field {
    margin-top: 0.5rem;
  }
  .name-email-container {
    flex-direction: column;
  }
  .contact-me {
    margin-top: 2rem;
  }
  .contact-info .flex {
    margin-top: 0.5rem !important;
  }
  .sm-display-none {
    display: none;
  }
  .contact-info {
    margin-top: 25% !important;
    float: left;
  }
  form div input {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  form input,
  form textarea,
  form button {
    margin-left: 30px;
    margin-right: 30px;
  }
  .about-image {
    margin-top: 5vh !important;
  }
  .about-title {
    margin-top: 5vh !important;
  }
}
@media (max-width: 640px) and (max-height: 740px) {
  .about-image {
    margin-top: 20vh !important;
  }
  .about-title {
    margin-top: 20vh !important;
  }
}
@media (max-width: 400px) {
  .text-base {
    margin-top: 3% !important;
  }
  .about-image {
    width: 40%;
    height: 15%;
  }
}
@media (max-width: 300px) and (min-height: 600px) {
  .about-image {
    margin-top: 20vh !important;
  }
  .about-title {
    margin-top: 20vh !important;
  }
}
@media (max-width: 300px) {
  .about-title p {
    font-size: 12px;
    text-align: left;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=styles.css.map */